USE [master]
GO
/****** Object:  Database [bthouse]    Script Date: 08/10/2016 00:01:12 ******/
CREATE DATABASE [bthouse] ON  PRIMARY 
( NAME = N'bthouse', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\bthouse.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bthouse_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\bthouse_1.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bthouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bthouse]
GO
/****** Object:  Table [dbo].[BT_COMPANY]    Script Date: 08/10/2016 00:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BT_COMPANY](
	[OID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANYCNAME] [nvarchar](50) NULL,
	[COMPANYENAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_BT_COMPANY] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BT_SYSUSER]    Script Date: 08/10/2016 00:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BT_SYSUSER](
	[OID] [int] IDENTITY(1,1) NOT NULL,
	[CNAME] [nvarchar](50) NULL,
	[LOGIN_NAME] [nvarchar](20) NOT NULL,
	[LOGIN_PWD] [nvarchar](20) NULL,
	[MEMO] [nvarchar](50) NULL,
	[CRDTIME] [datetime] NULL,
	[CRDON] [nvarchar](50) NULL,
	[MODTIME] [datetime] NULL,
	[MODON] [nvarchar](50) NULL,
	[COMPANYID] [int] NULL,
 CONSTRAINT [PK_BT_SYSUSER] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_BT_SYSUSER] ON [dbo].[BT_SYSUSER] 
(
	[LOGIN_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BT_ACCOUNTS]    Script Date: 08/10/2016 00:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BT_ACCOUNTS](
	[OID] [int] IDENTITY(1,1) NOT NULL,
	[CNAME] [varchar](50) NULL,
	[BALANCE] [money] NULL,
	[COMPANYID] [int] NULL,
 CONSTRAINT [PK_BT_ACCOUNTS_1] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BT_ACCOUNTS_LOG]    Script Date: 08/10/2016 00:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BT_ACCOUNTS_LOG](
	[OID] [int] IDENTITY(1,1) NOT NULL,
	[OPERATE] [nvarchar](10) NULL,
	[TOTAL] [money] NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[ACCOUNT] [int] NULL,
	[MEMBER] [nvarchar](20) NULL,
	[DEALER] [nvarchar](20) NULL,
	[ARTICLE] [nvarchar](100) NULL,
	[MEMO] [nvarchar](200) NULL,
	[TRADETIME] [datetime] NULL,
	[CRDTIME] [datetime] NULL,
	[CREON] [nvarchar](50) NULL,
	[MODTIME] [datetime] NULL,
	[MODON] [nvarchar](50) NULL,
	[COMPANYID] [int] NULL,
 CONSTRAINT [PK_BT_ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_BT_SYSUSER_BT_COMPANY]    Script Date: 08/10/2016 00:01:14 ******/
ALTER TABLE [dbo].[BT_SYSUSER]  WITH CHECK ADD  CONSTRAINT [FK_BT_SYSUSER_BT_COMPANY] FOREIGN KEY([COMPANYID])
REFERENCES [dbo].[BT_COMPANY] ([OID])
GO
ALTER TABLE [dbo].[BT_SYSUSER] CHECK CONSTRAINT [FK_BT_SYSUSER_BT_COMPANY]
GO
/****** Object:  ForeignKey [FK_BT_ACCOUNTS_BT_ACCOUNTS]    Script Date: 08/10/2016 00:01:14 ******/
ALTER TABLE [dbo].[BT_ACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_BT_ACCOUNTS_BT_ACCOUNTS] FOREIGN KEY([OID])
REFERENCES [dbo].[BT_ACCOUNTS] ([OID])
GO
ALTER TABLE [dbo].[BT_ACCOUNTS] CHECK CONSTRAINT [FK_BT_ACCOUNTS_BT_ACCOUNTS]
GO
/****** Object:  ForeignKey [FK_BT_ACCOUNTS_BT_COMPANY]    Script Date: 08/10/2016 00:01:14 ******/
ALTER TABLE [dbo].[BT_ACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_BT_ACCOUNTS_BT_COMPANY] FOREIGN KEY([COMPANYID])
REFERENCES [dbo].[BT_COMPANY] ([OID])
GO
ALTER TABLE [dbo].[BT_ACCOUNTS] CHECK CONSTRAINT [FK_BT_ACCOUNTS_BT_COMPANY]
GO
/****** Object:  ForeignKey [FK_BT_ACCOUNTS_LOG_BT_ACCOUNTS]    Script Date: 08/10/2016 00:01:14 ******/
ALTER TABLE [dbo].[BT_ACCOUNTS_LOG]  WITH CHECK ADD  CONSTRAINT [FK_BT_ACCOUNTS_LOG_BT_ACCOUNTS] FOREIGN KEY([ACCOUNT])
REFERENCES [dbo].[BT_ACCOUNTS] ([OID])
GO
ALTER TABLE [dbo].[BT_ACCOUNTS_LOG] CHECK CONSTRAINT [FK_BT_ACCOUNTS_LOG_BT_ACCOUNTS]
GO
/****** Object:  ForeignKey [FK_BT_ACCOUNTS_LOG_BT_COMPANY]    Script Date: 08/10/2016 00:01:14 ******/
ALTER TABLE [dbo].[BT_ACCOUNTS_LOG]  WITH CHECK ADD  CONSTRAINT [FK_BT_ACCOUNTS_LOG_BT_COMPANY] FOREIGN KEY([COMPANYID])
REFERENCES [dbo].[BT_COMPANY] ([OID])
GO
ALTER TABLE [dbo].[BT_ACCOUNTS_LOG] CHECK CONSTRAINT [FK_BT_ACCOUNTS_LOG_BT_COMPANY]
GO
/****** Object:  ForeignKey [FK_BT_ACCOUNTS_LOG_BT_SYSUSER]    Script Date: 08/10/2016 00:01:14 ******/
ALTER TABLE [dbo].[BT_ACCOUNTS_LOG]  WITH CHECK ADD  CONSTRAINT [FK_BT_ACCOUNTS_LOG_BT_SYSUSER] FOREIGN KEY([MEMBER])
REFERENCES [dbo].[BT_SYSUSER] ([LOGIN_NAME])
GO
ALTER TABLE [dbo].[BT_ACCOUNTS_LOG] CHECK CONSTRAINT [FK_BT_ACCOUNTS_LOG_BT_SYSUSER]
GO
